body{
    margin: 0;
    padding: 0;
    background-color: rgb(244, 43, 43);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;

}

a{
    color: white;
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: white;
}


.cabecalho{
    background-color: red;
    margin: auto;
    height: 130px;
    border-bottom: 1px solid gray;
    position: relative;

}

.pizzahot{
    background-image: url(/frontend/Imagens/pizzahot.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 70px;
    width: 300px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.hello{
    width: 160px;
    height: 25px;
    background-image: url(/frontend/Imagens/perfil2white.png);
    background-repeat: no-repeat;
    background-size: contain;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
    text-align: right;

    position: absolute;
    top: 20%;
    left: 1%;

    
}

.hello:hover{
    cursor: pointer;
}

.car{
    width: 120px;
    height: 25px;
    background-image: url(/frontend/Imagens/car.png);
    background-repeat: no-repeat;
    background-size: contain;

    color: white;
    font-weight: bolder;
    
    text-align: right;

    position: absolute;
    top: 20%;
    right: 4%;

    
}

.car:hover{
    cursor: pointer;
}

.menu{
    background-color: white;
    width: 900px;
    height: 100px;
    margin: auto;
    margin-bottom: 10px;

    position: relative;

}

.tipo_menu{
    line-height: 50px;
}

.container_menu{
    margin: 0;
    padding: 0;
    background-color: red;
    width: 280px;
    height: 50px;

    border-radius: 20px;
    font-weight: bolder;
    color: white;
    text-align: center;

    position: absolute;

    top: 50%;
    transform: translate(-50%, -50%);
}

.click_menu:hover{
    cursor: pointer;
    box-shadow: 
        0 0 10px rgba(0, 0, 0, 0.5), /* Primeira sombra */
        0 0 20px rgba(255, 0, 0, 0.3)
}

.pizzas{
    left: 50%;
}


.esfihas{
    left: 17%;
}

.refrigerantes{
    left: 83%;
}

.container{
    background-color: white;
    margin: auto;
    width: 900px;
    height: 1500px;

    position: relative;
}

.square{
    width: 880px;
    height: 500px;

    position: absolute;
    margin: 10px;

    text-indent: 50px;
    color: red;
    font-weight: bold;

}

.seta_pizza{
    background-image: url(/frontend/Imagens/setaPizza.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 28px;

    position: absolute;
    left: 6px;
    top: 17px;


}

.pizzas_menu{
    position: absolute;
    /* border: 1px solid red; */
    top: 0px;
}


.esfihas_menu{
    position: absolute;
    /* border: 1px solid black; */
    top: 510px;
}

.refrigerantes_menu{
    position: absolute;
    /* border: 1px solid black; */
    top: 1020px;

}

.itens{
    /* border: 1px solid black; */
    width: 850px;
    height: 420px;
    margin: auto;
}

ul{
    padding: 0;
    /* border: 1px solid black; */
    width: 808px;
    height: 375px;
    margin: 20px;
    list-style-type: none;
    position: absolute;

}

li{
    margin: 10px;
    width: 246px;
    height: 160px;
    overflow: hidden;
    float: left;
    position: relative;

}

.sabor_pizza{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    height: 80%;
    
    background-position: center;

    position: absolute;

    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nome_sabor{
    margin: 0;
    padding: 0;
    border: 3px solid red;
    border-radius: 15px;
    width: 240px;
    height: 30px;

    font-size: 0.9em;
    
    position: absolute;
    bottom: 0;
    
    left: 50%;
    transform: translate(-50%);
    align-content: center;
    text-align: center;
    text-indent: 0;
}

.nome_sabor:hover{
    cursor: pointer;
}

.footer{
    background-color: red;
    border-top: 1px solid gray;
    height: 50px;
    bottom: 0;
}